# Next line instructs git to apply git-rcrypt filter to all files located
# in directory e and below.  It means that all files in directory e will be
# encrypted with git-rcrypt.
e/** filter=git-rcrypt diff=git-rcrypt

# If you want to encrypt all files in the repository, uncomment following line
# ** filter=git-rcrypt diff=git-rcrypt

# Protection from accidental encryption of file .gitattributes
.gitattributes !filter !diff

# Documentaton: https://git-scm.com/docs/gitattributes

# Treat all files in the repository as binary, with no git magic updating
# line endings. This produces predictable results in different environments.
* -text
